@font-face {
  font-family: "DMSans_regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/dmsans-regular-webfont.woff2) format("woff2"); }

@font-face {
  font-family: "DMSans_bold";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/dmsans-bold-webfont.woff2) format("woff2"); }

@font-face {
  font-family: "DMSans_italic";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/dmsans-italic-webfont.woff2) format("woff2"); }

h1 {
  font-size: 3.375em;
  color: #161D6C;
  font-family: "DMSans_bold"; }

h2 {
  font-size: 2.125em;
  color: #161D6C;
  font-family: "DMSans_bold"; }

p {
  font-size: 1.125em;
  color: #6A6F83; }

.button {
  background-color: #FF4879;
  color: #FFF;
  border: 2px solid #FF4879;
  border-radius: 30px;
  padding: 15px 25px; }
  .button i {
    margin-left: 10px; }
  .button:hover {
    border: 2px solid #FF4879;
    color: #FF4879;
    background-color: #FFF; }

.blue-rectangle {
  height: 24px;
  width: 50px;
  background-color: #008DFF; }

body {
  max-width: 1600px; }

.container {
  width: 1170px; }

.section-hero {
  background-image: url("../imgs/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 730px;
  max-width: 100%; }
  .section-hero h1 {
    width: 382px; }
  .section-hero p {
    padding-right: 18px; }

.section-banner {
  background-color: #161D6C;
  padding: 30px 38px; }
  .section-banner p {
    margin-bottom: 0;
    padding: 16px 38px;
    color: #FFF; }

.section-data .table tr td,
.section-data .table tr th {
  border: none;
  padding: 10px 0; }
  .section-data .table tr td i,
  .section-data .table tr th i {
    color: #29B282;
    font-size: 8px; }

.section-data .table tr td:first-of-type {
  font-weight: 700; }

.section-data a {
  color: #FF4879;
  font-weight: 700; }

header {
  padding-top: 10px;
  margin-bottom: 50px; }
  header .menu li a {
    color: #161D6C; }
  header .contact {
    margin-left: 30px; }
    header .contact li a {
      color: #008DFF; }
      header .contact li a:hover {
        color: #008DFF; }
  header .menu li,
  header .contact li {
    margin-right: 22px; }
    header .menu li a,
    header .contact li a {
      font-size: 1em;
      font-weight: bold; }
      header .menu li a:hover,
      header .contact li a:hover {
        text-decoration: underline; }
  header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0; }

footer .footer-top {
  background-color: #F6F7F8; }
  footer .footer-top .blue-rectangle {
    transform: translateY(-136px) skewX(-20deg);
    position: absolute;
    right: 0; }
  footer .footer-top h2 {
    font-size: 3.375em; }
  footer .footer-top a {
    color: #008DFF;
    text-decoration: none;
    font-weight: 700;
    margin-right: 30px; }
    footer .footer-top a:hover {
      text-decoration: underline; }
  footer .footer-top form label {
    color: #161D6C;
    font-weight: 700; }
    footer .footer-top form label a {
      color: #161D6C;
      text-decoration: underline; }
  footer .footer-top .blue-triangle {
    height: 75px;
    width: 75px;
    background-color: #008DFF;
    clip-path: polygon(0 0, 0% 100%, 100% 100%); }

footer .footer-bottom p,
footer .footer-bottom a {
  margin-bottom: 0;
  color: #6A6F83;
  font-size: 0.875em;
  margin-left: 30px; }

footer .footer-bottom a {
  text-decoration: underline; }
