@font-face {
  font-family: "DMSans_regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/dmsans-regular-webfont.woff2) format("woff2"); }

@font-face {
  font-family: "DMSans_bold";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/dmsans-bold-webfont.woff2) format("woff2"); }

@font-face {
  font-family: "DMSans_italic";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/dmsans-italic-webfont.woff2) format("woff2"); }

h1 {
  font-size: 3.375em;
  color: #161D6C;
  font-family: "DMSans_bold"; }

h2 {
  font-size: 2.125em;
  color: #161D6C;
  font-family: "DMSans_bold"; }

p {
  font-size: 1.125em;
  color: #6A6F83; }

.button {
  background-color: #FF4879;
  color: #FFF;
  border: 2px solid #FF4879;
  border-radius: 30px;
  font-weight: 700;
  padding: 15px 25px; }
  .button i {
    margin-left: 10px; }
  .button:hover {
    border: 2px solid #FF4879;
    color: #FF4879;
    background-color: #FFF; }

img {
  max-width: 100%; }

.blue-rectangle {
  background-color: #008DFF; }

.pink-rectangle {
  background-color: #FF4879; }

.mobile {
  display: none; }

.desktop {
  display: block; }

@media screen and (max-width: 475px) {
  .desktop {
    display: none; }
  .mobile {
    display: block; }
  h1 {
    font-size: 2.25em; }
  h2 {
    font-size: 1.5em; }
  .py-5 {
    padding-top: 40px !important;
    padding-bottom: 40px !important; } }

.section-hero {
  background-image: url("../imgs/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 730px;
  max-width: 100%; }
  .section-hero .blue-rectangle {
    transform: translate(86px, 285px) skewX(-20deg);
    width: 32px;
    height: 15px; }
  .section-hero .pink-rectangle {
    transform: translate(1120px, 0) skewX(-20deg);
    height: 15px;
    width: 32px; }
  .section-hero .blue-arrow {
    background-color: #008DFF;
    width: 118px;
    margin-top: 0;
    height: 105px;
    clip-path: polygon(100% 0, 0 41%, 100% 100%);
    float: right; }
  .section-hero h1 {
    width: 382px; }
  .section-hero p {
    padding-right: 18px; }

.section-banner {
  background-color: #161D6C;
  padding: 30px 38px; }
  .section-banner .inner-banner {
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-banner .inner-banner i {
      color: #29B282;
      background-color: #FFF;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center; }
    .section-banner .inner-banner p {
      margin-bottom: 0;
      padding: 16px;
      font-weight: 700;
      white-space: nowrap;
      color: #FFF; }

.section-usps .background-clippy {
  background-color: #F6F7F8;
  width: 870px;
  max-width: 100%;
  height: 362px;
  position: absolute;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transform: translate(75px, 370px); }

.section-usps .blue-rectangle {
  width: 50px;
  height: 24px;
  position: absolute; }
  .section-usps .blue-rectangle:first-child {
    transform: translate(1300px, 20px) skewX(-20deg); }
  .section-usps .blue-rectangle:not(:first-child) {
    transform: translate(250px, 648px) skewX(-20deg);
    z-index: 1; }

.section-usps a {
  margin-top: 50px; }

.section-usps .inner-usps p {
  font-weight: 700;
  color: #161D6C;
  font-size: 1em; }
  .section-usps .inner-usps p i {
    color: #29B282;
    margin-right: 20px; }

.section-data .pink-rectangle {
  height: 24px;
  width: 50px;
  transform: translate(920px, 0) skew(-20deg);
  position: absolute; }

.section-data .table {
  margin-bottom: 30px; }
  .section-data .table tr td,
  .section-data .table tr th {
    border: none;
    padding: 10px 0; }
    .section-data .table tr td i,
    .section-data .table tr th i {
      color: #29B282;
      font-size: 8px; }
  .section-data .table tr td:first-of-type {
    font-weight: 700;
    width: 110px; }

.section-data a {
  color: #FF4879;
  font-weight: 700; }

.section-data .italic-text {
  font-size: 1em;
  font-style: italic;
  float: left;
  margin: 60px -150px 0 150px; }

.section-data .blue-pricing-rectangle {
  background-color: #008DFF;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transform: translate(150px, 56px);
  width: 320px;
  height: 134px; }
  .section-data .blue-pricing-rectangle p {
    color: #FFF;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0; }
  .section-data .blue-pricing-rectangle .price {
    font-size: 3.375em;
    line-height: 58px; }

.section-data img {
  position: absolute;
  z-index: 1; }

@media screen and (max-width: 475px) {
  .section-hero {
    background-image: none;
    height: 100%;
    margin-bottom: 54px; }
    .section-hero .blue-rectangle {
      transform: translate(300px, 200px) skewX(-20deg);
      position: absolute;
      z-index: 1; }
    .section-hero h1 {
      max-width: 100%;
      margin-top: 30px;
      font-size: 2.25em; }
  .section-banner {
    padding: 30px 15px; }
    .section-banner .inner-banner {
      justify-content: flex-start; }
      .section-banner .inner-banner i {
        width: 30px;
        height: 30px;
        font-size: 15px; }
      .section-banner .inner-banner p {
        white-space: normal;
        font-size: 1em;
        line-height: 18px; }
  .section-usps.py-5,
  .section-usps .py-5 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .section-usps h2 {
    margin-top: 20px; }
  .section-usps a {
    margin-top: 20px; }
  .section-data .py-5 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .section-data .blue-pricing-rectangle {
    width: 250px;
    height: 104px;
    transform: translate(70px, 20px); }
    .section-data .blue-pricing-rectangle .price {
      font-size: 2.75em; }
    .section-data .blue-pricing-rectangle p {
      font-size: 0.875em; }
  .section-data img {
    position: relative; } }

header {
  padding-top: 10px;
  margin-bottom: 50px; }
  header .menu li a {
    color: #161D6C; }
  header .contact {
    margin-left: 30px; }
    header .contact li a {
      color: #008DFF; }
      header .contact li a:hover {
        color: #008DFF; }
  header .menu li,
  header .contact li {
    margin-right: 22px; }
    header .menu li a,
    header .contact li a {
      font-size: 1em;
      font-weight: bold; }
      header .menu li a:hover,
      header .contact li a:hover {
        text-decoration: underline; }
  header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0; }

@media screen and (max-width: 475px) {
  header {
    padding: 10px;
    margin-bottom: 0; }
    header .mobile {
      display: inline-block;
      margin-left: 15px; }
      header .mobile.email {
        padding-left: 45px; } }

footer .footer-top {
  background-color: #F6F7F8; }
  footer .footer-top .blue-rectangle {
    transform: translateY(-136px) skewX(-20deg);
    position: absolute;
    right: 0;
    width: 50px;
    height: 24px; }
  footer .footer-top h2 {
    font-size: 3.375em; }
  footer .footer-top a {
    color: #008DFF;
    text-decoration: none;
    font-weight: 700;
    margin-right: 30px; }
    footer .footer-top a:hover {
      text-decoration: underline; }
  footer .footer-top form label {
    color: #161D6C;
    font-weight: 700; }
    footer .footer-top form label a {
      color: #161D6C;
      font-weight: 400;
      text-decoration: underline; }
  footer .footer-top form .form-check label {
    font-weight: 400; }
  footer .footer-top .blue-triangle {
    height: 75px;
    width: 75px;
    background-color: #008DFF;
    clip-path: polygon(0 0, 0% 100%, 100% 100%); }

footer .footer-bottom p,
footer .footer-bottom a {
  margin-bottom: 0;
  color: #6A6F83;
  font-size: 0.875em;
  margin-left: 30px; }

footer .footer-bottom a {
  text-decoration: underline; }

@media screen and (max-width: 475px) {
  footer .footer-top.pt-5 {
    padding-top: 0 !important; }
  footer .footer-top .py-5 {
    padding-top: 0 !important; }
  footer .footer-top h2 {
    font-size: 2.25em; }
  footer .footer-top a {
    display: block;
    margin-bottom: 5px; }
  footer .footer-top .blue-triangle {
    height: 50px;
    width: 50px; }
  footer .footer-top .blue-rectangle {
    transform: translate(-20px, -38px) skewX(-20deg); }
  footer .footer-bottom.py-4 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  footer .footer-bottom .footer-logo {
    display: block !important; }
    footer .footer-bottom .footer-logo p {
      margin: 15px 0 34px 0; }
  footer .footer-bottom a {
    display: block;
    margin-left: 0; } }
