h1 {
	font-size: $fontSize54;
	color: $darkblue;
	font-family: "DMSans_bold";
}

h2 {
	font-size: $fontSize34;
	color: $darkblue;
	font-family: "DMSans_bold";
}

p {
	font-size: $fontSize18;
	color: $grey;
}

.button {
	background-color: $pink;
	color: $white;
	border: 2px solid $pink;
	border-radius: 30px;
	font-weight: 700;
	padding: 15px 25px;

	i {
		margin-left: 10px;
	}

	&:hover {
		border: 2px solid $pink;
		color: $pink;
		background-color: $white;
	}
}

img {
	max-width: 100%;
}

.blue-rectangle {
	background-color: $lightblue;
}

.pink-rectangle {
	background-color: $pink;
}

.mobile {
	display: none;
}

.desktop {
	display: block;
}

@media screen and (max-width: 475px){
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	h1 {
		font-size: $fontSize36;
	}
	
	h2 {
		font-size: $fontSize24;
	}
	
	.py-5 {
		padding-top: 40px !important;
		padding-bottom: 40px !important;
	}
}