.section-hero {
	background-image: url("../imgs/image.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 730px;
	max-width: 100%;

	p {
		padding-right: 18px;
	}
}

.section-banner {
	background-color: $darkblue;
	padding: 30px 38px;

	p {
		margin-bottom: 0;
		padding: 16px 38px;
		color: $white;
	}
}