.section-hero {
	background-image: url("../imgs/image.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 730px;
	max-width: 100%;

	.blue-rectangle {
		transform: translate(86px, 285px) skewX(-20deg);
		width: 32px;
		height: 15px;
	}

	.pink-rectangle {
		transform: translate(1120px, 0) skewX(-20deg);
		height: 15px;
		width: 32px;
	}

	.blue-arrow {
		background-color: $lightblue;
		width: 118px;
		margin-top: 0;
		height: 105px;
		clip-path: polygon(100% 0, 0 41%, 100% 100%);
		float: right;
	}

	h1 {
		width: 382px;
	}

	p {
		padding-right: 18px;
	}
}

.section-banner {
	background-color: $darkblue;
	padding: 30px 38px;

	.inner-banner {
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			color: $green;
			background-color: $white;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			float: left;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		p {
			margin-bottom: 0;
			padding: 16px;
			font-weight: 700;
			white-space: nowrap;
			color: $white;
		}
	}
}

.section-usps {
	.background-clippy {
		background-color: $backgroundgrey;
		width: 870px;
		max-width: 100%;
		height: 362px;
		position: absolute;
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		transform: translate(75px, 370px);
	}

	.blue-rectangle {
		width: 50px;
		height: 24px;
		position: absolute;

		&:first-child {
			transform: translate(1300px, 20px) skewX(-20deg);
		}

		&:not(:first-child) {
			transform: translate(250px, 648px) skewX(-20deg);
			z-index: 1;
		}
	}

	a {
		margin-top: 50px;
	}

	.inner-usps {
		p {
			font-weight: 700;
			color: $darkblue;
			font-size: $fontSize16;

			i {
				color: $green;
				margin-right: 20px;
			}
		}
	}
}

.section-data {
	.pink-rectangle {
		height: 24px;
		width: 50px;
		transform: translate(920px, 0) skew(-20deg);
		position: absolute;
	}

	.table {
		margin-bottom: 30px;

		tr {
			td,
			th {
				border: none;
				padding: 10px 0;

				i {
					color: $green;
					font-size: 8px;
				}
			}

			td {
				&:first-of-type {
					font-weight: 700;
					width: 110px;
				}
			}
		}
	}

	a {
		color: $pink;
		font-weight: 700;
	}

	.italic-text {
		font-size: $fontSize16;
		font-style: italic;
		float: left;
		margin: 60px -150px 0 150px;
	}

	.blue-pricing-rectangle {
		background-color: $lightblue;
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		transform: translate(150px, 56px);
		width: 320px;
		height: 134px;

		p {
			color: $white;
			font-size: $fontSize16;
			font-weight: 700;
			margin-bottom: 0;
		}

		.price {
			font-size: $fontSize54;
			line-height: 58px;
		}
	}

	img {
		position: absolute;
		z-index: 1;
	}
}

@media screen and (max-width: 475px) {
	.section-hero {
		background-image: none;
		height: 100%;
		margin-bottom: 54px;

		.blue-rectangle {
			transform: translate(300px, 200px) skewX(-20deg);
			position: absolute;
			z-index: 1;
		}

		h1 {
			max-width: 100%;
			margin-top: 30px;
			font-size: $fontSize36;
		}
	}

	.section-banner {
		padding: 30px 15px;

		.inner-banner {
			justify-content: flex-start;

			i {
				width: 30px;
				height: 30px;
				font-size: 15px;
			}

			p {
				white-space: normal;
				font-size: $fontSize16;
				line-height: 18px;
			}
		}
	}

	.section-usps {
		&.py-5,
		.py-5 {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

		h2 {
			margin-top: 20px;
		}

		a {
			margin-top: 20px
		}
	}

	.section-data {
		.py-5 {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

		.blue-pricing-rectangle {
			width: 250px;
			height: 104px;
			transform: translate(70px, 20px);

			.price {
				font-size: $fontSize44;
			}

			p {
				font-size: $fontSize14;
			}
		}

		img {
			position: relative;
		}
	}
}
