footer {
	.footer-top {
		background-color: $lightgrey;

		a {
			color: $lightblue;
			text-decoration: none;
			font-weight: 700;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.footer-bottom {
		p,
		a {
			margin-bottom: 0;
			color: $grey;
			font-size: $fontSize14;
			margin-left: 30px;
		}
	}
}
