header {
	margin-bottom: 50px;

	.menu {
		li {
			a {
				color: $darkblue;
			}
		}
	}

	.contact {
		li {
			a {
				color: $lightblue;

				&:hover {
					color: $lightblue;
				}
			}
		}
	}

	.menu,
	.contact {
		li {
			a {
				font-size: $fontSize16;
				font-weight: bold;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
